@font-face {
  font-family: 'SeravekExtraLight';
  src: url('fonts/SeravekWebBasicExtraLight.eot');
  /* IE9 Compat Modes */
  src: url('fonts/SeravekWebBasicExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/SeravekWebBasicExtraLight.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/SeravekWebBasicExtraLight.woff') format('woff');
  /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'SeravekBold';
  src: url('fonts/SeravekWebBasicBold.eot');
  /* IE9 Compat Modes */
  src: url('fonts/SeravekWebBasicBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/SeravekWebBasicBold.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/SeravekWebBasicBold.woff') format('woff');
  /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'SeravekLight';
  src: url('fonts/SeravekWebBasicLight.eot');
  /* IE9 Compat Modes */
  src: url('fonts/SeravekWebBasicLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/SeravekWebBasicLight.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/SeravekWebBasicLight.woff') format('woff');
  /* Pretty Modern Browsers */
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}
html * {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #252c26;
  font-family: 'SeravekLight', sans-serif;
  padding: 0;
  height: 100%;
}
article,
aside,
details,
figcaption,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
figure {
  display: block;
  margin: 1em 40px;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls] ) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  font-size: 50px;
  margin: 0.67em 0;
  margin: 0;
  margin: 0 0 .5em 0;
  font-weight: 700;
  font-family: 'SeravekBold', sans-serif;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: .15em;
}
mark {
  background-color: #ffff00;
  color: #000000;
}
small {
  font-size: 80%;
}
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  bottom: -0.25em;
}
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  overflow: auto;
  font-family: monospace, monospace;
  font-size: 1em;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button {
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}
input {
  font: inherit;
  margin: 0;
  line-height: normal;
}
optgroup {
  font: inherit;
  margin: 0;
  font-weight: bold;
}
select {
  font: inherit;
  margin: 0;
  text-transform: none;
}
textarea {
  font: inherit;
  margin: 0;
  overflow: auto;
}
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"] ::-webkit-inner-spin-button,
input[type="number"] ::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"] ::-webkit-search-cancel-button,
input[type="search"] ::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
.dark-black {
  color: #101013;
}
.black {
  color: #252c26;
}
.green {
  color: #3cd52e;
}
.grey-green-1 {
  color: #4b574d;
}
.grey-green-2 {
  color: #637063;
}
.grey-green-3 {
  color: #7a897a;
}
.grey-green-4 {
  color: #95a595;
}
.grey-green-5 {
  color: #afbfaf;
}
.grey-green-6 {
  color: #d6e8d6;
}
.grey-green-7 {
  color: #DAE5CE;
}
.grey-bg {
  background-color: #e6e7e8;
}
.red {
  color: #f74900;
}
h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  font-family: 'SeravekBold', sans-serif;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: .15em;
}
h3 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  font-family: 'SeravekBold', sans-serif;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: .05em;
}
.h4 {
  margin: 0;
  font-size: 30px;
  font-family: 'SeravekExtraLight', sans-serif;
  line-height: 1.5em;
  font-weight: 200;
  letter-spacing: .05em;
}
h4 {
  margin: 0;
  font-size: 30px;
  font-family: 'SeravekExtraLight', sans-serif;
  line-height: 1.5em;
  font-weight: 200;
  letter-spacing: .05em;
}
h5 {
  margin: 0;
  font-size: 26px;
  line-height: 1.3em;
  font-weight: 200;
  font-family: 'SeravekExtraLight', sans-serif;
}
h6 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  font-family: 'SeravekBold', sans-serif;
  letter-spacing: .05em;
  line-height: 1.4em;
}
p {
  margin: 0;
}
p strong {
  font-weight: 700;
  font-family: 'SeravekBold', sans-serif;
}
p.p1 {
  margin: 0;
  font-size: 30px;
  font-family: 'SeravekExtraLight', sans-serif;
  line-height: 1.5em;
  font-weight: 200;
  letter-spacing: .05em;
}
.text-center {
  text-align: center;
}
h3.light {
  font-size: 30px;
  font-weight: 700;
  font-family: 'SeravekLight', sans-serif;
  text-transform: none;
  line-height: 1.3em;
  letter-spacing: .05em;
}
blockquote {
  font-size: 26px;
  line-height: 1.3em;
  font-weight: 700;
  font-family: 'SeravekBold', sans-serif;
}
p.large {
  font-size: 22px;
  line-height: 30px;
  font-weight: 300;
  font-family: 'SeravekLight', sans-serif;
}
p.large.bold {
  font-weight: 700;
  font-family: 'SeravekBold', sans-serif;
}
p.summary {
  font-size: 14px;
  line-height: 1.35em;
  font-weight: 400;
  font-family: 'SeravekLight', sans-serif;
}
h6.section-title {
  font-size: 18px;
  line-height: 1em;
  font-weight: 700;
  font-family: 'SeravekBold', sans-serif;
  letter-spacing: .05em;
}
#page {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}
.icon-heading {
  margin-bottom: 30px;
}
.icon-heading .text {
  font-size: 18px;
  line-height: 1em;
  line-height: 1.5em;
  font-weight: 700;
  font-family: 'SeravekBold', sans-serif;
  letter-spacing: .05em;
  margin-left: 20px;
  display: inline-block;
}
.icon-heading .icon {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  float: left;
  background-position: center center;
  position: relative;
}
.icon-heading .icon.phone {
  background-image: url(images/icon-phone.png);
}
.icon-heading .icon.location {
  background-image: url(images/icon-location.png);
}
.icon-heading .text.two-line {
  margin-top: -0.66em;
}
.product-columns .left-column .column-inner,
.product-columns .right-column .column-inner {
  padding: 0 20px;
}
.product-columns .inquire-link .text {
  font-size: 18px;
  line-height: 1em;
  line-height: 32px;
  font-weight: 700;
  font-family: 'SeravekBold', sans-serif;
  letter-spacing: .05em;
  text-transform: uppercase;
}
.product-columns .inquire-link .inquire-icon {
  width: 30px;
  height: 35px;
  background-size: 30px 35px;
  background-image: url(images/icon-inquire.png);
  float: left;
  margin: 0 12px 0 0;
}
.product-columns .left-column {
  overflow-x: hidden;
}
.product-columns .product-image-wrapper {
  margin: 40px 0 0 0;
}
.product-columns .product-image-wrapper img {
  max-width: 100%;
}
.uppercase {
  text-transform: uppercase;
}
h6.item-label {
  font-weight: 400;
  font-family: 'SeravekLight', sans-serif;
  font-size: 14px;
  letter-spacing: .05em;
  line-height: 22px;
  text-transform: uppercase;
}
.content ul {
  margin: 1em 0 2em 0;
}
.content ul li {
  padding-left: 10px;
  font-size: 18px;
  line-height: 1.6em;
  font-weight: 400;
  font-family: 'SeravekLight', sans-serif;
  margin: 0 0 .5em 0;
  list-style-image: url('images/green-arrow.png');
}
.content .inner {
  box-sizing: border-box;
  padding: 40px 7%;
}
.content .inner * {
  box-sizing: border-box;
}
.content .inner.pad2x {
  padding: 40px 14%;
}
label {
  font-size: 12px;
  font-weight: 700;
  font-family: 'SeravekBold', sans-serif;
  line-height: 1.1em;
  text-transform: uppercase;
}
.product-crumb {
  display: none;
  margin: 70px 0 38px 0;
}
.product-crumb .text {
  line-height: 1;
}
.product-crumb .text strong {
  font-size: 12px;
  font-weight: 700;
  font-family: 'SeravekBold', sans-serif;
  line-height: 1.1em;
  line-height: 1;
  text-transform: uppercase;
}
.product-crumb .product-icon {
  width: 30px;
  height: 35px;
  background-size: 30px 35px;
  background-image: url(images/product-icon-anti-static.png);
  float: left;
  margin-right: 10px;
}
.narrow-column {
  max-width: 340px;
  min-width: 300px;
  margin: 0 auto;
}
.less-narrow-column {
  max-width: 460px;
  min-width: 300px;
  margin: 0 auto;
}
.hidden {
  display: none;
}
.clear {
  clear: both;
  height: 1px;
  margin: -1px 0 0 0;
  width: 100%;
}
.line {
  border-style: solid;
  border-color: #3cd52e;
}
.line.thick {
  border-width: 0 0 10px 0;
}
.line.medium {
  border-width: 0 0 5px 0;
}
.line.thin {
  border-width: 0 0 2px 0;
}
.line.dotted {
  border-style: dotted;
}
/**
 *
 * menu
 *
 */
.menu-transition {
  transition: background-color 0.3s, -webkit-transform 0.5s ease;
  transition: background-color 0.3s, transform 0.5s ease;
  transition: background-color 0.3s, transform 0.5s ease, -webkit-transform 0.5s ease;
}
.slideout-menu {
  transition: background-color 0.3s, -webkit-transform 0.5s ease;
  transition: background-color 0.3s, transform 0.5s ease;
  transition: background-color 0.3s, transform 0.5s ease, -webkit-transform 0.5s ease;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.slideout-menu.visible {
  background-color: rgba(0, 0, 0, 0.2);
}
.slideout-menu.visible .menu-items {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.slideout-menu .column-1 {
  z-index: 30;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.slideout-menu .column-2,
.slideout-menu .column-3 {
  left: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.slideout-menu .column-2.visible {
  -webkit-transform: translateX(89.5%);
      -ms-transform: translateX(89.5%);
          transform: translateX(89.5%);
  z-index: 20;
}
.slideout-menu .column-3.visible {
  -webkit-transform: translateX(179%);
      -ms-transform: translateX(179%);
          transform: translateX(179%);
  z-index: 10;
}
.slideout-menu.static {
  position: absolute;
}
.slideout-open #outer {
  overflow-x: hidden;
}
.slideout-open .slideout-menu {
  display: block;
}
.home,
.home #outer .content {
  background: #e6e7e8;
}
.home .menu-header {
  margin-top: 50px;
  background: transparent;
}
.menu-items {
  transition: background-color 0.3s, -webkit-transform 0.5s ease;
  transition: background-color 0.3s, transform 0.5s ease;
  transition: background-color 0.3s, transform 0.5s ease, -webkit-transform 0.5s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 36%;
  max-width: 140.4px;
  background-color: #fff;
}
.menu-items > div {
  position: absolute;
  width: 100%;
  padding: 0 15px 0 15px;
  top: 150px;
  bottom: 0;
  overflow-y: auto;
}
.menu-items.open .menu-item {
  color: #859888;
}
.menu-items.open .menu-item:hover {
  color: #3c483e;
}
.menu-items.open .menu-item.selected {
  color: #252c26;
}
.menu-item {
  color: #252c26;
  display: block;
  position: relative;
  padding: 10px 0 10px 0;
  min-height: 36px;
  line-height: 36px;
  font-size: 14px;
  font-family: 'SeravekBold', sans-serif;
  text-decoration: none;
  text-align: left;
  border-bottom: 4px solid #DAE5CE;
  vertical-align: middle;
  cursor: pointer;
}
.menu-item.selected {
  border-bottom-color: #252c26;
}
.menu-item.active {
  color: #80D443;
}
.menu-item div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.25em;
}
.menu-item div .type {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'SeravekLight', sans-serif;
}
.menu-item.has-icon div {
  padding: 0 0 0 25px;
}
.menu-item.has-icon[data-slug]:before {
  content: "";
  display: block;
  position: absolute;
  left: -3px;
  top: 0;
  bottom: 0;
  width: 27px;
  background-image: url(images/default.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}
.menu-item.has-icon[data-slug=pressure-sensors]:before {
  background-image: url(images/pressure-sensors.svg);
}
.menu-item.has-icon[data-slug=emi-stealth]:before {
  background-image: url(images/emi-stealth.svg);
}
.menu-item.has-icon[data-slug=smart-fabrics]:before {
  background-image: url(images/smart-fabrics.svg);
}
.menu-item.has-icon[data-slug=warming-fabrics]:before {
  background-image: url(images/warming-fabrics.svg);
}
.menu-item.has-icon[data-slug=anti-static]:before {
  background-image: url(images/anti-static.svg);
}
.left-menu {
  position: absolute;
  bottom: 0;
  top: 0;
  padding: 0;
  width: 100%;
  max-width: 390px;
  box-sizing: border-box;
  overflow-y: hidden;
}
.left-menu:after {
  display: table;
  content: " ";
  height: 0;
  clear: both;
}
.green-circle {
  height: 12px;
  width: 12px;
  background: #ffffff;
  border: 2px solid #3cd52e;
  border-radius: 7px;
}
.green-circle.selected {
  background: #3cd52e;
}
.logo {
  background-repeat: no-repeat;
  background-image: url(images/logo.svg);
}
.logo.big {
  height: 124px;
  width: 415px;
  margin: 0 0 58px 0;
}
.logo.small {
  height: 44px;
  width: 144px;
}
.sub-page-header {
  margin: 40px 0;
}
.sub-page-subtitle {
  margin: 0 auto 75px auto;
  padding: 0 5px 10px 5px;
  width: auto;
  display: inline-block;
}
.page {
  min-height: 100%;
  position: relative;
}
.slideout-panel {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  left: 0px;
  top: 0px;
  padding: 0px;
  background: #ffffff;
}
.footer {
  background: #101013;
  padding: 10px 0;
  height: 55px;
  width: 100%;
}
.footer .logo {
  margin: 0 auto;
  width: 155px;
  height: 44px;
  background-size: 155px 44px;
  background-image: url(images/logo-plain.svg);
}
#fullpage .link-circle.active .empty,
#fullpage .link-circle:hover .empty {
  display: none;
}
#fullpage .link-circle.active .full,
#fullpage .link-circle:hover .full {
  display: block;
}
#fullpage .section .footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
#fullpage .section-top-header {
  position: absolute;
  z-index: 5;
  top: 36px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
#fullpage .section-top-header .text {
  border-bottom: 5px solid #3cd52e;
  font-size: 16px;
  font-family: 'SeravekBold', sans-serif;
  text-transform: uppercase;
  padding-bottom: 4px;
  letter-spacing: 2px;
  width: auto;
  margin: 0 auto;
  display: inline-block;
}
#fullpage .section-top-header .text.white {
  color: #ffffff;
}
#fullpage .top-right-link {
  position: absolute;
  z-index: 6;
  right: 30px;
  top: 35px;
  width: 190px;
  cursor: pointer;
}
#fullpage .top-right-link .arrow {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-image: url(images/icon-arrow.png);
  float: right;
  margin-left: 4px;
  position: relative;
}
#fullpage .top-right-link .text {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'SeravekBold', sans-serif;
}
#fullpage .section-text {
  padding: 40px 80px;
}
#fullpage .links-bar {
  margin: 40px -30px 0 -30px;
  text-align: center;
}
#fullpage .links-bar .link-wrapper {
  padding: 0 30px 10px 30px;
  width: 19%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
#fullpage .links-bar .link-wrapper a {
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'SeravekBold', sans-serif;
  color: inherit;
  text-decoration: none;
  display: block;
  letter-spacing: 2px;
}
#fullpage .links-bar a:hover {
  color: #3cd52e;
}
#fullpage .bottom-home-text {
  font-size: 24px;
}
#fullpage .explore-intro {
  margin: 1em 0 0 0;
  color: #ffffff;
}
#fullpage .combs-container {
  margin: 40px -125px 0 0;
  text-align: center;
}
#fullpage .combs-container .comb:hover .title,
#fullpage .combs-container .comb.active .title {
  text-decoration: underline;
}
#fullpage .combs-container .dummy-comb-2,
#fullpage .combs-container .dummy-comb-3 {
  display: inline-block;
  vertical-align: top;
  height: 1px;
  width: 0px;
}
#fullpage .combs-container .comb {
  width: 217px;
  height: 228px;
  background-size: 217px 228px;
  background-image: url(images/bg-comb.png);
  display: inline-block;
  cursor: pointer;
  margin: 0 20px;
  vertical-align: top;
}
#fullpage .combs-container .comb .body {
  font-size: 14px;
  padding: 0 30px;
  text-align: center;
  opacity: 0;
  position: relative;
  top: 10px;
}
#fullpage .combs-container .icon {
  width: 38px;
  position: relative;
  top: 65px;
  margin: 0 auto 20px auto;
  height: 38px;
  background-size: cover;
  background-position: center center;
}
#fullpage .combs-container .title {
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  position: relative;
  top: 65px;
}
#fullpage .combs-container .dummy-comb {
  width: 248px;
  display: inline-block;
  vertical-align: top;
  height: 1px;
}
#fullpage .green-product-box {
  width: 560px;
  height: 255px;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background: url(images/bg-green-box.png);
}
#fullpage .green-product-box .product-category {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}
#fullpage .green-product-box .product-category .icon {
  width: 30px;
  height: 30px;
  float: left;
  background-size: cover;
  margin-right: 10px;
}
#fullpage .green-product-box .product-category .text {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: 2px;
  font-family: "SeravekBold", 'sans-serif';
}
#fullpage .green-product-box .product-title {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 24px;
  font-weight: 700;
  font-family: "SeravekBold", 'sans-serif';
  line-height: 1.3em;
  text-transform: uppercase;
  margin-top: 25px;
  letter-spacing: 1px;
}
#fullpage .green-product-box .product-description {
  margin-left: 20px;
  margin-right: 20px;
  margin-right: 100px;
  font-size: 20px;
  color: #ffffff;
  line-height: 1.3em;
  letter-spacing: 1px;
  font-family: "SeravekBold", 'sans-serif';
  margin-top: 22px;
}
#fullpage .link-circles {
  margin: 8px auto 0 auto;
  width: auto;
}
#fullpage .link-circle {
  width: 11px;
  height: 11px;
  margin: 0 5px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}
#fullpage .link-circle .empty {
  width: 11px;
  height: 11px;
  background-size: 11px 11px;
  background-image: url(images/circle-empty.png);
}
#fullpage .link-circle .full {
  width: 11px;
  height: 11px;
  background-size: 11px 11px;
  background-image: url(images/circle-full.png);
}
/* slideout was here */
#outer {
  padding-top: 100px;
  min-height: 100%;
}
#top-bar {
  height: 320px;
  width: 100%;
  background-position: center center;
  background-attachment: local;
  background-image: url(images/fabric-bg.jpg);
}
.form-group {
  margin: 0 0 20px 0;
}
.contact-form .form-group input[type='text'],
.contact-form .form-group input[type='email'],
.contact-form .form-group textarea {
  width: 100%;
  display: block;
  padding: 0 1px;
  outline: none;
  box-shadow: none;
  line-height: 1.5em;
  font-size: 18px;
  border: 0px;
}
.contact-form .form-group input[type='text'] :-webkit-autofill,
.contact-form .form-group input[type='email'] :-webkit-autofill,
.contact-form .form-group textarea:-webkit-autofill {
  background: transparent;
  -webkit-box-shadow: 0 0 0 500px white inset;
}
.contact-form .form-group label {
  display: block;
  margin: 2px 0 0 0;
  padding: 0 1px;
}
.contact-form .ajax-loader {
  margin: 10px auto 0 auto !important;
  display: block;
}
.contact-form input[type='submit'] {
  margin: 0 auto;
  display: block;
  height: 57px;
  width: 48px;
  background-size: 48px 57px;
  background-color: transparent;
  border: 0px;
  background-image: url(images/green-bg.png);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 57px;
  outline: none;
  padding: 0;
  text-align: center;
  font-family: 'SeravekBold', sans-serif;
}
.contact-form span.wpcf7-not-valid-tip {
  color: #ff0000;
  font-size: 1em;
  display: block;
  position: absolute;
  width: 300px;
  top: -23px;
}
.contact-form label {
  position: relative;
  overflow: hidden;
  padding: 0;
  width: 100%;
  text-align: left;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.contact-form label .label-content {
  display: block;
  margin: 9px 0 0 0;
}
.contact-form label::before {
  content: '';
  position: absolute;
  top: -2px;
  width: 100%;
  height: 5px;
  background: #252c26;
  -webkit-transform: scale3d(1, 0.4, 1);
  transform: scale3d(1, 0.4, 1);
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s, -webkit-transform 0.3s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.contact-form label::after {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 1px;
  color: #3cd52e;
  padding: 9px 0 0 0;
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  pointer-events: none;
}
.contact-form .active-input label::before {
  background-color: #3cd52e;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.contact-form .active-input label {
  pointer-events: none;
}
.contact-form .active-input label .label-content {
  opacity: 0;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.contact-form .active-input label::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#nav-link {
  position: fixed;
  z-index: 10;
  top: 60px;
  height: 45px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  width: 231px;
  margin-left: 40px;
}
#nav-link .nav-toggle {
  height: 45px;
  width: 38px;
  background-size: 38px 45px;
  background-image: url(images/menu-bg-blank.png);
  float: left;
  margin-right: 40px;
}
#nav-link .logo {
  float: left;
}
#nav-link.static {
  position: absolute;
}
.nav-icon {
  width: 25px;
  height: 30px;
  position: relative;
  margin: 12px auto;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #ffffff;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
      transform-origin: left center;
}
.nav-icon span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
      transform-origin: left center;
}
.nav-icon span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
      transform-origin: left center;
}
.nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  top: 0px;
  left: 4px;
}
.nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  top: 18px;
  left: 4px;
}
.bottom-margin-1x {
  margin-bottom: 1em;
}
.bottom-margin-2x {
  margin-bottom: 2em;
}
.bottom-margin-half {
  margin-bottom: .5em;
}
.clearfix:after,
.specs-table .table-row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  zoom: 1;
}
*:first-child + html .clearfix {
  zoom: 1;
}
.content-section {
  margin-bottom: 90px;
  width: 100%;
}
.content-section .text {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
}
.content-section .image-container {
  display: inline-block;
  vertical-align: middle;
  width: 39%;
}
.content-section.text-left .text {
  float: left;
}
.content-section.text-left .image-container div {
  float: right;
}
.content-section.text-right .text {
  float: right;
}
.content-section.text-right .image-container div {
  float: left;
}
.content-section.text-left .image-container div.center-image,
.content-section.text-right .image-container div.center-image {
  float: none;
  margin: 0 auto;
  display: block;
}
.about-image {
  background-position: center center;
  background-repeat: no-repeat;
}
.about-image-top {
  width: 160px;
  height: 160px;
  background-size: 160px 120px;
  background-image: url(images/about-top.png);
}
.about-image-layers {
  width: 100%;
  height: 120px;
  background-size: 90%;
  background-image: url(images/about-layers.png);
}
.about-image-scroll {
  width: 160px;
  height: 150px;
  background-size: 160px 150px;
  background-image: url(images/about-scroll.png);
}
.about-image-thin {
  width: 240px;
  height: 146px;
  background-size: 240px 105px;
  background-image: url(images/about-thin.png);
}
.about-image-bolts {
  width: 50px;
  height: 220px;
  background-size: 50px 220px;
  background-image: url(images/about-bolts.png);
}
.hidden-desktop {
  display: none;
}
.input__field--isao {
  z-index: 10;
  padding: 0.75em 0.1em 0.25em;
  width: 100%;
  background: transparent;
  color: #afb3b8;
}
.wpcf7-response-output {
  display: none !important;
}
.contact-error .wpcf7-response-output {
  display: block !important;
}
.top-gray-wrapper {
  background: #e6e7e8;
}
.top-gray-wrapper .inner {
  padding: 90px 40px 40px 40px;
}
.product-grid {
  padding: 20px;
}
.product-grid .item {
  display: inline-block;
  width: 49%;
  margin: 0;
}
.product-grid .item .item-inner {
  padding: 20px;
  cursor: pointer;
}
.product-grid .item .image-wrapper img {
  max-width: 100%;
}
.product-grid .item .item-text a.item-link {
  color: inherit;
  text-decoration: none;
}
.product-grid .item .category-icon {
  float: right;
  height: 25px;
  width: 25px;
  margin: 5px;
  background-size: 25px 25px;
}
.product-grid .item .category-icon.warming {
  background-image: url(images/icon-warming.png);
}
.product-grid .item .item-inner:hover .item-text a.item-link {
  color: #3cd52e;
}
.specs-section {
  margin: 40px 20px 0px 20px;
}
.specs-table {
  margin: 3px -15px;
}
.specs-table .column {
  margin: 0;
  padding: 9px 15px;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}
.specs-table .first-column {
  width: 25%;
}
.specs-table .second-column {
  width: 48%;
}
.specs-table .third-column {
  width: 25%;
}
.specs-table .header-column {
  text-transform: uppercase;
  font-size: 12px;
  color: #3cd52e;
  letter-spacing: 2px;
  font-family: 'SeravekLight', sans-serif;
}
.specs-table .header-row {
  border-bottom: 5px solid #3cd52e;
}
.specs-table .body-column {
  line-height: 24px;
  font-size: 20px;
  font-family: 'SeravekLight', sans-serif;
  font-weight: 300;
}
.specs-table .body-row {
  border-bottom: 3px dotted #3cd52e;
}
.specs-table .body-row.last-row {
  border-bottom: 0px;
}
.specs-table .body-column.first-column {
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'SeravekLight', sans-serif;
  font-weight: 500;
}
.specs-table-inner {
  width: 100%;
}
.product-category-grid {
  margin: 0 -40px;
  text-align: center;
}
.product-category-grid .product-grid-item {
  margin: 0 40px;
  display: inline-block;
  width: 40%;
  padding: 30px 0;
  vertical-align: top;
  border-bottom: 6px solid #121212;
  text-align: left;
  height: 220px;
  position: relative;
}
.product-category-grid .product-grid-item .product-grid-item-inner {
  height: 160px;
  position: relative;
}
.product-category-grid .product-grid-item .product-image {
  width: 160px;
  height: 160px;
  overflow: hidden;
  float: left;
  position: relative;
}
.product-category-grid .product-grid-item .product-image img {
  width: 300px;
  margin-top: -30px;
  margin-left: -70px;
}
.product-category-grid .product-grid-item .product-text {
  margin-left: 180px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.product-category-grid .product-grid-item .product-text .product-title {
  font-size: 24px;
  font-family: 'SeravekExtraLight', sans-serif;
  font-weight: 300;
}
.product-category-grid .product-grid-item .product-text .product-sub-title {
  font-size: 14px;
  font-family: 'SeravekBold', sans-serif;
  text-transform: uppercase;
  margin: .25em 0 1em 0;
}
.product-category-grid .product-grid-item .product-text .product-description {
  font-weight: 500;
}
.article {
  margin-top: 60px;
  border-bottom: 6px solid #121212;
}
.article .article-publication-name,
.article .article-date {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 1em 0;
}
.article .article-title {
  font-size: 30px;
  line-height: 1.25em;
  font-family: 'SeravekBold', sans-serif;
  margin: 0 0 .25em 0;
}
.article .article-authors {
  font-size: 24px;
  line-height: 1.5em;
  margin: 0 0 .5em 0;
}
.article .article-body {
  font-size: 18px;
  line-height: 1.5em;
}
.article .article-body strong {
  font-family: 'SeravekBold', sans-serif;
}
.article .article-link-wrapper {
  padding: 8px 12px;
  margin: 5px 0 0 0;
}
.article .article-link-wrapper a {
  color: #121212;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  font-family: 'SeravekBold', sans-serif;
}
.article .article-link-wrapper a:hover {
  color: #3cd52e;
}
.article.patent .patent-number {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 0 .5em 0;
}
#section2 .slide {
  background-position: center center;
  background-size: cover;
}
#section2 #slide1 {
  background-image: url(images/bg-touch-device.png);
}
#section2 #slide2 {
  background-image: url(images/bg-fibers.png);
}
#section1 {
  background-position: center center;
  background-size: cover;
  background-image: url(images/bg-fibers.png);
}
.icon-warming-fabrics,
.icon-warming {
  background-image: url(images/icon-warming.png);
}
.icon-smart-fabrics {
  background-image: url(images/icon-touch.png);
}
.icon-pressure-sensors,
.icon-pressure {
  background-image: url(images/icon-pressure.png);
}
.icon-stealth {
  background-image: url(images/icon-smart.png);
}
.icon-anti-static,
.icon-static {
  background-image: url(images/icon-static.png);
}
.icon-custom {
  background-image: url(images/icon-custom.png);
}
.icon.icon-pressure-sensors-white,
.icon.icon-pressure-white {
  background-image: url(images/icon-pressure-white.png);
}
.fp-controlArrow {
  width: 8px !important;
  height: 16px !important;
  background-size: cover;
}
.fp-controlArrow.fp-prev {
  border: 0;
  background-image: url(images/arrow-left.png);
}
.fp-controlArrow.fp-next {
  border: 0;
  background-image: url(images/arrow-right.png);
}
